[v-cloak] {
    display: none;
}

html {
    overflow-x: hidden;
}

hr {
    border-radius: 5px;
    border: 2px dashed white;
    width: 75%;
}

html,
body {
    min-height: 100%;
}

body {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: black;
    background: linear-gradient(-230deg, #ecf0f1, #26c6da);
    background-size: 100% 100%;
}

@media screen and (max-width: 900px) {
    body {
        background: linear-gradient(-230deg, #ecf0f1, #26c6da);
        background-size: 100% 100%;
    }
}


/* 
                                                                                    
 \_/ _     _|_     |_   _       o  _|  _   _ __ |_   _.  _ |   _  ._ _      ._   _| 
  | (_) |_| |_ |_| |_) (/_   \/ | (_| (/_ (_)   |_) (_| (_ |< (_| | (_) |_| | | (_| 
                                                               _|                   
 */

.video-background {
    background: linear-gradient(-230deg, #ecf0f1, #26c6da);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media screen and (max-width: 900px) {
    #youtube_background {
        display: none;
    }
}


/* End video youtube bg */


/* 
 __  .__   __. .______    __    __  .___________.
|  | |  \ |  | |   _  \  |  |  |  | |           |
|  | |   \|  | |  |_)  | |  |  |  | `---|  |----`
|  | |  . `  | |   ___/  |  |  |  |     |  |     
|  | |  |\   | |  |      |  `--'  |     |  |     
|__| |__| \__| | _|       \______/      |__|     
                                                 
*/

input:focus,
button:focus,
select:focus {
    outline: 0;
}

input,
select {
    color: black;
    font-family: 'Comfortaa', sans-serif;
    /*     text-align: center !important; */
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    box-shadow: 2px 2px 4px #888888;
    transition: all .25s linear 0s;
    border: solid 2px lightcoral;
}

input:hover,
select:hover {
    border: solid 2px lightcoral;
    box-shadow: 4px 4px 6px purple;
    background-color: white;
    color: black;
}

a:hover {
    border-radius: 5px;
    background-color: white;
    color: black;
}

a {
    color: #2c3e50;
}


/* end custom input */


/* 
.______    __    __  .___________.___________.  ______   .__   __. 
|   _  \  |  |  |  | |           |           | /  __  \  |  \ |  | 
|  |_)  | |  |  |  | `---|  |----`---|  |----`|  |  |  | |   \|  | 
|   _  <  |  |  |  |     |  |        |  |     |  |  |  | |  . `  | 
|  |_)  | |  `--'  |     |  |        |  |     |  `--'  | |  |\   | 
|______/   \______/      |__|        |__|      \______/  |__| \__| 
                                                                    
*/

button {
    font-family: 'Comfortaa', sans-serif;
    background-color: white;
    color: black;
    border: solid 2px rgb(236, 240, 241);
    border-radius: 10px;
    font-size: 20px;
    transition: all .25s linear 0s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    padding: .2em;
}

button:hover {
    border: solid 2px #2c3e50;
    box-shadow: 4px 4px 6px #2c3e50;
    cursor: pointer;
    transform: translateY(-2px);
}


/* Ripple magic */

button {
    position: relative;
    overflow: hidden;
}

button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 50%;
    transform: scale(1, 1) translate(-70%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

button:focus:not(:active)::after {
    animation: ripple .75s ease-out;
}

button:focus {
    outline: 0;
}


/* Button effect push */

button:active {
    transform: translateY(4px) scale(0.9, 0.9);
}

button.normal {
    background: rgb(52, 73, 94);
    color: white;
    box-shadow: 2px 2px 4px #2c3e50;
}

button.normal:hover,
button.danger:hover,
button.success:hover,
button.info:hover,
button.warning:hover,
button.guide:hover {
    border: solid 2px rgb(236, 240, 241);
}

button.danger {
    color: white;
    background: rgb(231, 76, 60);
    box-shadow: 2px 2px 4px lightcoral;
}

button.success {
    color: white;
    background: rgb(39, 174, 96);
    box-shadow: 2px 2px 4px rgb(46, 204, 113);
}

button.info {
    color: white;
    background: rgb(52, 152, 219);
    box-shadow: 2px 2px 4px rgb(41, 128, 185);
}

button.warning {
    color: white;
    background: rgb(243, 156, 18);
    box-shadow: 2px 2px 4px rgb(243, 156, 18);
}

button.guide {
    color: white;
    background: rgb(155, 89, 182);
    box-shadow: 2px 2px 4px rgb(155, 89, 182);
}

button.normal2 {
    background-color: white;
    color: rgb(52, 73, 94);
    box-shadow: 2px 2px 4px #2c3e50;
}

button.normal2:hover {
    border: solid 2px #2c3e50;
}

button.danger2 {
    background-color: white;
    color: rgb(231, 76, 60);
    box-shadow: 2px 2px 4px lightcoral;
}

button.danger2:hover {
    border: solid 2px lightcoral;
}

button.success2 {
    color: rgb(39, 174, 96);
    background-color: white;
    box-shadow: 2px 2px 4px rgb(46, 204, 113);
}

button.success2:hover {
    border: solid 2px rgb(46, 204, 113);
}

button.info2 {
    color: rgb(52, 152, 219);
    background-color: white;
    box-shadow: 2px 2px 4px rgb(41, 128, 185);
}

button.info2:hover {
    border: solid 2px rgb(41, 128, 185);
}

button.warning2 {
    color: rgb(243, 156, 18);
    background-color: white;
    box-shadow: 2px 2px 4px rgb(243, 156, 18);
}

button.warning2:hover {
    border: solid 2px rgb(243, 156, 18);
}

button.guide2 {
    color: rgb(155, 89, 182);
    background-color: white;
    box-shadow: 2px 2px 4px rgb(155, 89, 182);
}

button.guide2:hover {
    border: solid 2px rgb(155, 89, 182);
}


/* end custom button */

@media screen and (max-width: 900px) {
    button {
        margin: .2em;
    }
}